* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #ddaeee;
  background: radial-gradient(circle, rgb(239, 212, 249) 6%, rgb(151, 210, 219) 100%);
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  background-color: #9f64b4;
}
nav ul li {
  margin: 10px;
  font-family: "Kedebideri", sans-serif;
  font-weight: 400;
  font-size: larger;
}
nav ul li a {
  display: block;
  padding: 15px 20px;
  color: black;
  text-decoration: none;
  font-family: "Kedebideri", sans-serif;
  font-weight: 300;
}
nav ul li a:hover {
  background-color: #bcb9b9;
  color: white;
}

.categories_index {
  justify-self: center;
  font-size: large;
  font-style: normal;
  padding: 20px;
}

.container_categories {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin: 2rem;
  /* grid-row: span 2; */
}

.container_categories a {
  background-color: gray;
  color: white;
  text-decoration: none;
  padding: 2rem;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

img {
  width: 100%;
  border: solid 1.5px black;
  justify-self: center;
}

.container {
  max-width: 1200px;
  margin: 10px auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.product-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
  grid-row: span 4;
  font-family: "Kedebideri", sans-serif;
  font-weight: 400;
}

.product {
  background-color: beige;
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 7;
  border: solid 2px gray;
  padding: 10px;
}

.knap {
  padding: 5px;
  background-color: white;
  border: solid 0.5px black;
  justify-self: center;
  text-decoration: none;
  transition: ease-in-out 0.1s;
  text-align: center;
}

.knap:hover {
  transform: scale(1.1);
}

.product_card {
  width: 35%;
  justify-self: left;
  margin: 20px auto;
}

.card_info {
  border: solid 2px rgb(207, 207, 207);
  display: flex;
  flex-direction: column;
}

h3 {
  justify-self: center;
  font-family: "Kedebideri", sans-serif;
  font-weight: 400;
}

p {
  font-style: italic;
  font-size: medium;
}
.overskift_productliste {
  justify-self: center;
  font-size: large;
  font-style: normal;
  padding: 10px;
}

h1 {
  font-family: "Kedebideri", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.kedebideri-regular {
  font-family: "Kedebideri", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.productlist_head {
  text-align: center;
}

.productlist_head button {
  padding: 0.5rem;
}
